
        <!-- preloader begin-->
        <div class="preloader">
            <div class="loader">
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
                <i class="fas fa-heart"></i>
            </div>
        </div>
        <!-- preloader end -->


        <!-- header brgin -->
        <header class="header">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-2 col-lg-2 d-xl-flex d-lg-flex d-block align-items-center">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-6 d-flex align-items-center">
                                <div class="logo">
                                    <a href="/"><img src="/assets/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-12 col-6 d-xl-none d-lg-none">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <i class="fas fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-7 col-lg-9">
                        <div class="main-menu">
                            <nav class="navbar navbar-expand-lg">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#happy_couple">Happy Couple <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#event">Event</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#love_story">Love Story</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#gallery">Gallery</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#join_party">Join Party</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#blog">Blog</a>
                                        </li>

                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->


        <!-- banner begin-->
        <div class="banner-slider">
            <div class="banner-1">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-10">
                            <div class="banner-content">
                                <h1>Jenny & Clark</h1>
                                <div class="married-time">
                                    <h4>December 27, 2019</h4>
                                    <p>Are Getting Married</p>
                                    <div class="party-owner">
                                        <span>Jhon Party</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-10">
                            <div class="banner-content">
                                <h1>Jenny & Clark</h1>
                                <div class="married-time">
                                    <h4>December 27, 2019</h4>
                                    <p>Are Getting Married</p>
                                    <div class="party-owner">
                                        <span>Jhon Party</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-3">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-10">
                            <div class="banner-content">
                                <h1>Jenny & Clark</h1>
                                <div class="married-time">
                                    <h4>December 27, 2019</h4>
                                    <p>Are Getting Married</p>
                                    <div class="party-owner">
                                        <span>Jhon Party</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- banner end -->


        <!-- countdown begin -->
        <div class="countdown">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10 col-lg-10">
                        <div class="part-text">
                            <h2>Are getting <span>Married</span></h2>
                            <p>Weeding is the systematic removal of resources from a library based on selected criteria. It is the opposite of
                            selecting material, though the selection and deselection of material often involve the same thought process weeding is a vital process
                            Weeding should be done on a continuous, on-going basis many collections having a digital component</p>
                            <span class="date">On December 27, 2019 - Boracay,Philippines</span>
                        </div>

                        <div class="part-countdown">
                            <div class="timer" data-date="29 May 2019 9:56:00 GMT+01:00">
                                <div class="single-count">
                                    <span class="day"></span><span class="title">days</span>
                                </div>
                                <div class="single-count">
                                    <span class="hour"></span><span class="title">hours</span>
                                </div>
                                <div class="single-count">
                                    <span class="minute"></span><span class="title">minute</span>
                                </div>
                                <div class="single-count">
                                    <span class="second"></span><span class="title">second</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- countdown end -->


        <!-- happy couple begin-->
        <div class="happy-couple" id="happy_couple">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>Happy<span> Couple</span></h2>
                            <p>Weeding is the systematic removal of resources from a library based on selected criteria
                            though the selection and deselection of material often involve.</p>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-around">
                    <div class="col-xl-5 col-lg-6 col-md-6">
                        <div class="single-happy-couple">
                            <div class="couple-circle">
                                <h3>Jenny</h3>
                                <p>Weeding is the systematic
                                    removal of resources from a
                                    library based on selected the
                                    the criteria materials often
                                    involve.</p>
                            </div>
                            <div class="part-img">
                                <img src="/assets/happy-couple.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-5 col-lg-6 col-md-6">
                        <div class="single-happy-couple">
                            <div class="couple-circle">
                                <h3>Clarky</h3>
                                <p>Weeding is the systematic
                                    removal of resources from a
                                    library based on selected the
                                    the criteria materials often
                                    involve.</p>
                            </div>
                            <div class="part-img">
                                <img src="/assets/happy-couple-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- happy couple end -->


        <!-- wedding event begin-->
        <div class="wedding-event" id="event">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>The<span> Wedding Event</span></h2>
                            <p>Weeding is the systematic removal of resources from a library based on selected criteria
                                though the selection and deselection of material often involve.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-event">
                            <h3>Main Ceremony</h3>
                            <span class="time">16:00h - 17:00</span>
                            <span class="date-place">December 27, 2019 | Boracay,Philippines</span>
                            <p>Weeding is the systematic removal resources from library based
                            selected the the criteria materials often involve. Weeding is the
                            systematic removal of the criteria materials often involve involb
                            Weeding is the systematic removal of resources from a library
                            based on selected the the criteria</p>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-event special">
                            <h3>Wedding Party</h3>
                            <span class="time">16:00h - 17:00</span>
                            <span class="date-place">December 27, 2019 | Boracay,Philippines</span>
                            <p>Weeding is the systematic removal resources from library based
                                selected the the criteria materials often involve. Weeding is the
                                systematic removal of the criteria materials often involve involb
                                Weeding is the systematic removal of resources from a library
                                based on selected the the criteria</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- wedding event end -->

        <!-- joining party begin-->
        <div class="joining-party" id="join_party">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>Are<span> You Attending?</span></h2>
                            <p>Weeding is the systematic removal of resources from a library based on selected criteria
                                though the selection and deselection of material often involve.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="part-img">
                            <img src="/assets/joining-party.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="part-form">
                            <h3>Join <span>Our Party</span></h3>
                            <form class="join-form">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label for="input-name">Name<span>*</span></label>
                                            <input type="text" class="form-control" id="input-name" >
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label for="input-mail">E-mail<span>*</span></label>
                                            <input type="email" class="form-control" id="input-mail">
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label for="input-guest">Guests<span>*</span></label>
                                            <input type="text" class="form-control" id="input-guest">
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label for="input-event">Event<span>*</span></label>
                                            <input type="text" class="form-control" id="input-event">
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <h4>9 am attending...</h4>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6">
                                        <button type="submit">I'm Attending</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- joining party end -->


        <!-- love story begin-->
        <div class="love-story" id="love_story">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>Our<span> Love Story</span></h2>
                            <p>Weeding is the systematic removal of resources from a library based on selected criteria
                                though the selection and deselection of material often involve.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-6">
                                <div class="single-story">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="part-text">
                                                <h3>First We Meet</h3>
                                                <span class="date">June 10, 2017</span>
                                                <p>Weeding is the systematic removal resourc library based selected
                                                    the the criteria materials often involve. Weeding is the systematic
                                                    removal the criteria materials often involve involb Weeding is the
                                                    systematic removal of resources from a library based on selected
                                                    the the criteria</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 order-first order-xl-last">
                                            <div class="part-img">
                                                <img src="/assets/love-story-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-6">
                                <div class="single-story single-story-2-4">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="part-img">
                                                <img src="/assets/love-story-2.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="part-text">
                                                <h3>First Date</h3>
                                                <span class="date">July 30, 2017</span>
                                                <p>Weeding is the systematic removal resourc library based selected
                                                    the the criteria materials often involve. Weeding is the systematic
                                                    removal the criteria materials often involve involb Weeding is the
                                                    systematic removal of resources from a library based on selected
                                                    the the criteria</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-6">
                                <div class="single-story">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="part-text">
                                                <h3>In a Relationship</h3>
                                                <span class="date">May 29, 2017</span>
                                                <p>Weeding is the systematic removal resourc library based selected
                                                    the the criteria materials often involve. Weeding is the systematic
                                                    removal the criteria materials often involve involb Weeding is the
                                                    systematic removal of resources from a library based on selected
                                                    the the criteria</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 order-first order-xl-last">
                                            <div class="part-img">
                                                <img src="/assets/love-story-3.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-6">
                                <div class="single-story single-story-2-4 last-single-story">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="part-img">
                                                <img src="/assets/love-story-4.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6">
                                            <div class="part-text">
                                                <h3>First We Meet</h3>
                                                <span class="date">June 10, 2017</span>
                                                <p>Weeding is the systematic removal resourc library based selected
                                                    the the criteria materials often involve. Weeding is the systematic
                                                    removal the criteria materials often involve involb Weeding is the
                                                    systematic removal of resources from a library based on selected
                                                    the the criteria</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- love story end -->


        <!-- gallery begin-->
        <div class="gallery" id="gallery">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>Our<span> Gallery</span></h2>
                            <p>Weeding is the systematic removal of resources from a library based on selected criteria
                                though the selection and deselection of material often involve.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gallery-slider">
                <div class="single-img">
                    <img src="/assets/gallery-1.jpg" alt="">
                </div>
                <div class="single-img">
                    <img src="/assets/gallery-2.jpg" alt="">
                </div>
                <div class="single-img">
                    <img src="/assets/gallery-3.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- gallery end -->


        <!-- testimonial begin-->
        <div class="testimonial">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>Sweet<span> Messages</span></h2>
                            <p>Weeding is the systematic removal of resources from a library based on selected criteria
                                though the selection and deselection of material often involve.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="testimonial-slider">
                    <div class="single-testimonial">
                        <p>“Weeding the systematic removal resourc library based selected
                            the criteria materials often involve. Weeding is the systematic
                            removal the criteria materials often involve Weeding is the
                            systematic removal of resources from a library based on the
                            the criteria”</p>
                        <h3>Abu Ubaidah Tamim</h3>
                        <div class="part-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>

                    <div class="single-testimonial">
                        <p>“Weeding the systematic removal resourc library based selected
                            the criteria materials often involve. Weeding is the systematic
                            removal the criteria materials often involve Weeding is the
                            systematic removal of resources from a library based on the
                            the criteria”</p>
                        <h3>Abu Ubaidah Tamim</h3>
                        <div class="part-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>

                    <div class="single-testimonial">
                        <p>“Weeding the systematic removal resourc library based selected
                            the criteria materials often involve. Weeding is the systematic
                            removal the criteria materials often involve Weeding is the
                            systematic removal of resources from a library based on the
                            the criteria”</p>
                        <h3>Abu Ubaidah Tamim</h3>
                        <div class="part-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonial end -->


        <!-- groomsmen begin-->
        <div class="groomsmen">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2 class="remove-space">Our <span>Groomsmen</span></h2>
                            <p>Weeding is the systematic removal of resources from a library based on selected criteria
                                though the selection and deselection of material often involve.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-person">
                            <img src="/assets/groomsmen-1.jpg" alt="">
                            <div class="content-on-img">
                                <h3>Rex Rifat</h3>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-person">
                            <img src="/assets/groomsmen-2.jpg" alt="">
                            <div class="content-on-img">
                                <h3>Abir Khan</h3>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-person">
                            <img src="/assets/groomsmen-3.jpg" alt="">
                            <div class="content-on-img">
                                <h3>Rex Rifat</h3>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- groomsmen end -->


        <!-- bridesmaid begin-->
        <div class="bridesmaid">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2 class="remove-space">Our <span>bridesmaid</span></h2>
                            <p>Weeding is the systematic removal of resources from a library based on selected criteria
                                though the selection and deselection of material often involve.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-person">
                            <img src="/assets/bridesmaid-1.jpg" alt="">
                            <div class="content-on-img">
                                <h3>Jenny Smith</h3>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-person">
                            <img src="/assets/bridesmaid-2.jpg" alt="">
                            <div class="content-on-img">
                                <h3>Jenny Smith</h3>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="single-person">
                            <img src="/assets/bridesmaid-3.jpg" alt="">
                            <div class="content-on-img">
                                <h3>Jenny Smith</h3>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                                        <a href="javascript:void(0)"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bridesmaid end -->


        <!-- blog begin-->
        <div class="blog" id="blog">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-8">
                        <div class="section-title">
                            <h2>Latest <span>Blogs</span></h2>
                            <p>Weeding is the systematic removal of resources from a library based on selected criteria
                                though the selection and deselection of material often involve.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog">
                            <div class="part-img">
                                <img src="/assets/blog-1.jpg" alt="">
                            </div>
                            <div class="part-text">
                                <h3>Contrary to popular</h3>
                                <p>Weeding is the systematic removal resources from library based
                                    selected the the criteria materials often involve. Weeding is the
                                    systematic removal of the criteria materials often involve involb
                                    Weeding is the systematic removal of resources from a library
                                    based on selected the the criteria</p>
                                <div class="part-meta-info">
                                    <a href="javascript:void(0)"><i class="fas fa-comment"></i> 3 Comments</a>
                                    <a href="javascript:void(0)">More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog">
                            <div class="part-img">
                                <img src="/assets/blog-2.jpg" alt="">
                            </div>
                            <div class="part-text">
                                <h3>Majority have suffered</h3>
                                <p>Weeding is the systematic removal resources from library based
                                    selected the the criteria materials often involve. Weeding is the
                                    systematic removal of the criteria materials often involve involb
                                    Weeding is the systematic removal of resources from a library
                                    based on selected the the criteria</p>
                                <div class="part-meta-info">
                                    <a href="javascript:void(0)"><i class="fas fa-comment"></i> 3 Comments</a>
                                    <a href="javascript:void(0)">More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog">
                            <div class="part-img">
                                <img src="/assets/blog-3.jpg" alt="">
                            </div>
                            <div class="part-text">
                                <h3>It uses a dictionary</h3>
                                <p>Weeding is the systematic removal resources from library based
                                    selected the the criteria materials often involve. Weeding is the
                                    systematic removal of the criteria materials often involve involb
                                    Weeding is the systematic removal of resources from a library
                                    based on selected the the criteria</p>
                                <div class="part-meta-info">
                                    <a href="javascript:void(0)"><i class="fas fa-comment"></i> 3 Comments</a>
                                    <a href="javascript:void(0)">More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="single-blog">
                            <div class="part-img">
                                <img src="/assets/blog-4.jpg" alt="">
                            </div>
                            <div class="part-text">
                                <h3>Sometimes on purpose</h3>
                                <p>Weeding is the systematic removal resources from library based
                                    selected the the criteria materials often involve. Weeding is the
                                    systematic removal of the criteria materials often involve involb
                                    Weeding is the systematic removal of resources from a library
                                    based on selected the the criteria</p>
                                <div class="part-meta-info">
                                    <a href="javascript:void(0)"><i class="fas fa-comment"></i> 3 Comments</a>
                                    <a href="javascript:void(0)">More <i class="fas fa-angle-double-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog end -->


        <!-- footer begin-->
        <footer class="footer">
            <div class="back-to-top">
                <button><i class="fas fa-level-up-alt"></i></button>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-5">
                        <div class="part-social">
                            <a href="javascript:void(0)"><i class="fab fa-digital-ocean"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-blogger-b"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                            <a href="javascript:void(0)"><i class="fab fa-empire"></i></a>
                        </div>
                        <div class="copiright">
                            <p>Copyright © 2018 All Rights Reserved by Weddingo</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer end -->
